/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

/* Header */
header {
  background-color: #0079bf;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Tablero */
#tablero {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Define las columnas de la cuadrícula con un tamaño mínimo de 250px y un tamaño máximo que se ajusta automáticamente al espacio disponible en este caso  */
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

/* Lista */
.list {
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* Lista título */
.list-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
  outline: none;
  font-size: 1rem;
  text-align: center;
}

/* Cards */
.cards {
  min-height: 20px;
  padding-bottom: 0.5rem;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Botones */
.btn {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0.5rem;
  color: #fff;
  background-color: #0079bf;
  font-size: 0.9rem;
}

.btn-delete-list {
  background-color: #bf0030;
}

.btn-delete-card {
  color: #000;
  background-color: #c2c2c2;
}

/* Cards vacias MUY IMPORTANTES usadas como zona habilitada para insertar tarjetas cuando no hay ninguna inicializada */
.cards.empty {
  border: 3px dashed #888;
  min-height: 12px;
  padding: 20px;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
  margin-bottom: 10px;
}

.cards.empty:hover {
  background-color: #e0e0e0;
}

/* Elementos Responsive*/
.list {
  max-width: 100%; /* Las listas no se salen */
}

.card {
  font-size: calc(
    0.9rem + 0.2vw
  ); /* Ajuste dinamico segun pantalla en las fuentes */
  padding: calc(0.4rem + 0.2vw); /* Ajuste dinámico del padding */
}

.btn {
  font-size: calc(0.8rem + 0.2vw); /* Botones dinámicos */
  padding: calc(0.4rem + 0.2vw);
}
