body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.card {
  width: 70%;
  max-width: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-label {
  font-size: 0.8rem;
}
.form-control,
.form-select {
  font-size: 0.85rem;
  padding: 0.35rem 0.6rem;
}
button {
  font-size: 0.85rem;
  padding: 0.4rem 1rem;
}
.is-valid {
  border-color: #198754; /* Verde */
}

.is-invalid {
  border-color: #dc3545; /* Rojo */
}
